<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ name}}'s Stats</title>
</head>
<body style="font-family: sans-serif; background: #12121e; color: white; padding: 20px;">

    <a href="/player/{{ uid }}" style="color: #82aaff ; text-decoration: none;"> Back to Roster </a>

    <div style="display: flex; align-items: center; gap: 20px; margin-top: 20px;">
        <img src="{{ icon }}" width="120" style="border-radius: 50%; border: 2px solid white;;">
        <div>
            <h1 style="margin: 0;">{{ name }}</h1>
            <p style="margin: 5px 0 0 0;"> Level {{ level}} | Constellation {{ constellations }}</p>
        </div>
    </div>

    <hr style="border-color: #333; margin: 20px 0;">

    <h2> Total Stats</h2>

    <p>HP: {{stats.hp}} | ATK: {{ stats.atk}} | DEF: {{ stats.def }} | EM: {{ stats.em }} </p>
    <p>CRIT RATE: {{stats.crit_rate }}% | CRIT DMG: {{ stats.crit_dmg }}% | ER: {{stats.er }}% </p>

    <h2> Weapon </h2>
    <div style="display: flex; align-items: center; gap: 10px;">
        {% if weapon_icon %}
            <img src="{{ weapon_icon }}" width="80">
        {% endif %}
        <strong>{{weapon_name}}</strong>
        <br>
        <div>
        <span style="color: #e0e0e0; font-size: 14px;">
            Lv. {{weapon_level}} | <span style="color: #ffcc32;">R{{weapon_refinement}}</span>
        </span>
        </div>
    </div>

    <hr style="border-color: #333; margin: 20px 0;">

    <h2>Artifacts</h2>
    <div style="display: flex; flex-wrap: wrap; gap: 15px">

        {% for art in artifacts %}
            <div style="background: #232338; padding: 15px; border-radius: 8px; width: 200px;">

                <h4 style="margin: 0 0 10px 0; font-size: 14px;">{{art.name}}</h4>
                <img src="{{ art.icon }}" width="60">
                <p style="color: #eebb55; font-weight: bold; font-size: 14px;">
                    {{ art.main_stat_name }}: {{ art.main_stat_val }}
                </p>

                <ul style="padding-left: 15px; font-size: 13px; margin-bottom: 0;">
                    {% for sub in art.substats %}
                        <li>{{ sub.name }}: {{ sub.val }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <hr style="border-color: #333; margin: 30px 0;">
    <h2 style="color: #ffffff;"> Talents </h2>
    
    <div style="display: flex; gap: 12px; flex-wrap: nowrap;">
        {% for talent in talents %}
            <div style="background: #232328; padding: 15px 10px; border-radius: 8px; flex: 1; max-width: 160px; text-align: center; display: flex; flex-direction: column; align-items: center;">

                {% if talent.icon_url %}
                    <img src="{{ talent.icon_url}}" width="50" style="border-radius: 50%; background: #35354a; padding: 6px; margin-bottom: 10px;">
                {% else %}
                    <div style="width: 65px; height: 50px; border-radius:50%; background: #35354a; margin-bottom: 10px;"></div>
                {% endif %}

                <strong style="font-size: 13px; color: #ffffff; margin-bottom: 6px;" display: block;">
                    {{ talent.name }}
                </strong>

                {% if talent.is_boosted %}
                    <span style="font-size: 16px; font-weight: bold; color: #00e5ff;">Lv. {{talent.level}}</span>
                {% else %}
                    <span style="font-size: 16px; font-weight: bold; color: #e0e0e0;">Lv. {{talent.level}}</span>
                {% endif %}
            </div>
        {% endfor %}

    </div>
    
</body>
</html>